body {
    font-family: Arial, sans-serif;
    background-color: #c5c5c5;
    color: #000000; }
  
.container {
  height: 160px;
  width: 80%;
  max-width: 400px;
  margin: 40px auto;
  margin-top: 120px;
  background-color: #c5c5c5;
  padding: 2rem;
  border-radius: 10px;
  border: 1px solid #5a91f8;
  display: flex;
  flex-direction: column;
  align-items: center; }

@media (max-width: 480px) {  
  pre#output {
    font-size: 12px !important; }
  .button-container {
    width: 100%; }
  button {
    width: 100%;
    margin-bottom: 10px; }}
  
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #5a91f8;
  color: #000000;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center; } 

h2 {
  display: inline-block;
  vertical-align: middle;
  margin-top: 10px;
  margin: 0; 
  font-size: 19px;
  text-align: center;
  margin-bottom: 10px; }

label {
  display: block;
  margin-bottom: 10px;
  text-align: center; }

input[type="number"] {
  width: 60%;
  height: 30px;
  font-size: 16px;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #5a91f8;
  border-radius: 5px;
  background-color: #c5c5c5;
  color: #000000;
  box-sizing: border-box; }

.button-container {
  display: flex;
  justify-content: space-between;
  width: 60%; }

button {
  width: 45%;
  height: 45px;
  font-size: 14px;
  padding: 5px;
  margin: 10px 0;
  border: 1px solid #5a91f8;
  border-radius: 5px;
  background-color: #c5c5c5;
  color: #000000;
  cursor: pointer;
  display: inline-block; }

pre#output {
  background-color: #c5c5c5;
  padding: 10px;
  border-radius: 5px;
  color: #a71616;
  text-align: center;
  font-size: 16px;}

.hidden {
  display: none; }

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #c5c5c5;
  color: #000000;
  padding: 10px;
  text-align: center; }

footer p {
    text-align: center; }

#rodape {
    font-size: 15px; }

#rodape a {
    color: #000000; }